    #shadow {
        box-shadow:10px 10px 5px #cc0000;
        
    }
    
    img{
        box-shadow:10px 10px 5px #888888;
    }
    body
    {
      background-color: black;
    }

    
    #playerCard {
        border-radius: 25px;
        box-shadow:10px 10px 5px #cc0000;
    }
    
    
div {
        border:thin solid black;
        background-color:red;
        margin:100px;
        margin-left:300px;
        margin-right:300px;
        border-radius:25px;
    }
          
h1 {
        text-align:center;
        background-color:silver;
        font-family:sans-serif;
        color:white;
        background:linear-gradient(grey,white);
        border:thin solid grey;
        margin-left:25px;
        margin-right:25px;
        background-size:80px 60px;
    }
            

footer{
        font-size:.8em;
        text-align:center;
        box-shadow: none;
        margin-left:300px;
        margin-right:300px;
    }
